/*  Contents  */
/*  (1) Universal CSS */
/*  (2) Grid Areas */
/*  (3) Header CSS*/
/*  (4) Body CSS */
/*  (5) Artist Page CSS */
/*  (9) Footer CSS */


/*  (1) Universal CSS START */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  background-image: url("https://raw.githubusercontent.com/nate-fritz/nate-fritz.github.io/master/static/media/wood-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  (1) Universal CSS END */
/*  (2) Grid Areas START */
/*  (2) Grid Areas END */
/*  (3) Header CSS START */

.logo {
  height: 70px;
  margin: -10px;
}

.logo2 {
  display: flex;
  margin-top: 110px;
  margin-bottom: 20px;
  justify-content: space-around;
  height: 350px;
  width: 100%;
}

.logo2 > img {
  height: auto;
  width: 350px;
}

header {
  background-color: rgba(0, 0, 15, 0.9); 
  display: flex;
  flex-direction: columns;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.menu__button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 30px;
  margin: 10px;
}

.menu__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header h1 {
  font-family: 'IM Fell English', serif;
  grid-column-start: 2;
  text-align: center;
  margin-top: 10px;
}

.nav__menu {
  display: none;
  padding-right: 90px;
}

.nav__menu ul,
.nav__menu li{
  font-family: 'IM Fell English', serif;
  font-size: 30px;
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
}

.nav__menu li:hover {
  cursor: pointer;
  text-shadow: 1px 1px 50px white;
}

/*  (3) Header CSS END */

/*  (4) Body CSS START */

h1 {
display: inherit;
}


.logo__banner {
  text-align: center;
}

.main__subtitle {
  margin: 10px;
}

/* .content__img {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  text-align: center;
}

.content__img img {
  margin: 0 -100%;
  width: 120%;
  max-height: 600px;
}

.main__text {
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  font-family: lato;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  height: 100%;
} */

/*  (4) Body CSS END */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 15, 0.9);
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

/*  (5) Artist Page CSS START */

.artist__list, 
.singlealbum__list,
.album__list,
.song__list {
  padding-top: 80px;
  color: white;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song__list {
  margin-left: 45%;
  margin-right: 45%;
}

.artist__container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgba(0, 0, 15, 0.9);
  text-align: center;
}

.artist__container:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 
  -1px -1px 1px rgba(255, 255, 255, 0.5), 
  1px -1px 1px rgba(255, 255, 255, 0.5), 
  -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.artist__container2, 
.singlealbum__container2,
.song__container2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 15, 0.9);
  text-align: center;
}

.artist__image {
  height: 200px;
  width: 200px;
  margin-bottom: -5px;
  overflow: hidden;
}

.artist__image2,
.singlealbum__image2 {
  height: 350px;
  width: 350px;
  margin-bottom: -5px;
  overflow: hidden;
}

.artist__name {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'IM Fell English', serif;
  font-size: 30px;
}

.artist__name2,
.singlealbum__name2{
  height: 60px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'IM Fell English', serif;
  font-size: 30px;
}

.artist__hometown {
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

.album__rating,
.artist__rating,
.singlealbum__rating,
.song__rating {
  font-family: 'IM Fell English', serif;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.add-artist {
  padding-bottom: 120px;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  width: 120px;
  height: 30px;
  margin-bottom: 10px;
}

.add-artist__submit {
  font-family: 'IM Fell English', serif;
  font-weight: 800;
  font-size: 20px;
  width: 120px;
  height: 30px;
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  border: none;
}

.add-artist__submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 
  -1px -1px 1px rgba(255, 255, 255, 0.5), 
  1px -1px 1px rgba(255, 255, 255, 0.5), 
  -1px 1px 1px rgba(255, 255, 255, 0.5);
}

/*  (5) Artist Page CSS END */

/*  (6) Album Page CSS START */

.album__list {
  color: white;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}


.album__container,
.song__container {
  background-color: rgba(0, 0, 15, 0.9);
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}



.album__container:hover,
.song__container:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 
  -1px -1px 1px rgba(255, 255, 255, 0.5), 
  1px -1px 1px rgba(255, 255, 255, 0.5), 
  -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.album__image {
  height: 200px;
  width: 200px;
  margin-bottom: -5px;
  overflow: hidden;
}

.album__name {
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  height: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  text-align: center;
  font-family: 'IM Fell English', serif;
  font-size: 30px;
}

.song__title {
  color: white;
  height: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  text-align: center;
  font-family: 'IM Fell English', serif;
  font-size: 30px;
}


.add-comment__box {
  width: 60%;
}

.add-comment__singleArtist,
.add-comment__singleAlbum,
.add-comment__singleSong {
  font-family: 'IM Fell English', serif;
  font-weight: 800;
  font-size: 20px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  border: none;
}

.add-comment__singleArtist:hover,
.add-comment__singleAlbum:hover,
.add-comment__singleSong:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 
  -1px -1px 1px rgba(255, 255, 255, 0.5), 
  1px -1px 1px rgba(255, 255, 255, 0.5), 
  -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.add-tag__box {
  width: 20%;
}

.add-tag__singleArtist,
.add-tag__singleAlbum,
.add-tag__singleSong {
  font-family: 'IM Fell English', serif;
  font-weight: 800;
  font-size: 20px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  border: none;
}

.add-tag__singleArtist:hover,
.add-tag__singleAlbum:hover,
.add-tag__singleSong:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 
  -1px -1px 1px rgba(255, 255, 255, 0.5), 
  1px -1px 1px rgba(255, 255, 255, 0.5), 
  -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.comments__container {
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tags__container {
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  padding: 20px;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.artist-tags {
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.add-album,
.add-song {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-comments {
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-tags {
  padding-bottom: 120px;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  width: 120px;
  height: 30px;
  margin-bottom: 10px;
}

.add-album__submit,
.add-song__submit {
  font-family: 'IM Fell English', serif;
  font-weight: 800;
  font-size: 20px;
  width: 120px;
  height: 30px;
  background-color: rgba(0, 0, 15, 0.9);
  color: white;
  border: none;
}

.add-album__submit:hover,
.add-song__submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), 
  -1px -1px 1px rgba(255, 255, 255, 0.5), 
  1px -1px 1px rgba(255, 255, 255, 0.5), 
  -1px 1px 1px rgba(255, 255, 255, 0.5);
}

/*  (6) Album Page CSS END */